body {
  background: #e2dfd86d;
}

.main-container {
  background: white;
  display: block;
  margin: 60px auto;
  max-width: 600px;
  padding: 40px 30px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

form {
  width: 100%;
  height: 50px;
  display: block;
  margin-top: 0em;
}

#search-city {
  background: #e2dfd86d;
  width: 75%;
  border: none;
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  padding: 15px;
  border-radius: 6px;
}

.submit-form {
  margin-left: 5px;
  font-size: 16px;
  background-color: #383653;
  color: #e2dfd8;
  border: none;
  padding: 15px;
  line-height: 1;
  border-radius: 5px;
  width: 22%;
}

main {
  padding: 40px 0 15px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

p.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-temperature {
  font-size: 88px;
  line-height: 88px;
}

.current-temperature-icon {
  width: 88px;
  height: 88px;
  position: relative;
  top: 15px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
  margin-left: -20px;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
  left: -10px;
  font-weight: 500;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 25px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 15px;
}

a {
  color: #383653;
}

ul {
  list-style: none;
  padding: 0;
}

.forecast {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  margin-bottom: 10px;
}

.forecast-emoji {
  text-align: center;
  font-size: 38px;
}

.forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.forecast-temperature {
  padding: 0 10px;
  margin-top: 10px;
}

/* colors */

.current-city,
.current-temperature-value,
.current-temperature-unit {
  color: #383653;

  /* #132c50m */
}

.current-temperature-icon,
.current-details strong,
.forecast-temperatures {
  color: #c1914d;
}

.forecast-emoji {
  color: #132c50c5;
}
